{% extends 'example/_base.html' %}

{% block content %}

<span id="msg"></span>

{% endblock content %}

{% block script %}

  <script>
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";

    var socket = new WebSocket(ws_scheme + '://' + window.location.host + '/ws/');

    socket.onopen = function open() {

      console.log('WebSockets connection created.');

    };

    socket.onmessage = function message(event) {

      var data = JSON.parse(event.data);
      var msg = encodeURI(data['msg']);
      console.log(msg);

      $("#msg").html(msg);

    };

    if (socket.readyState == WebSocket.OPEN) {

      socket.onopen();

    }
  </script>

{% endblock script %}
